.spinner-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9051;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
  color: white;
}
