.drag-divider {
  margin: 6px 0;
  height: 0;
  width: 100%;
  height: 2px;
}

.drag-divider-active {
  background-color: #1b96ff;
}

h3 {
  color: #444444;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

.sub-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f3f3;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding: 12px;
}

.grabber {
  cursor: move;
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.menu {
  flex-shrink: 0;
}

lightning-button-menu {
  background: white;
}

.props-container {
  width: calc(50% - 104px);
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

lightning-input,
lightning-combobox,
c-dashboard-icons-picker {
  margin-right: 16px;
}

c-basic-filter {
  flex: 1;
}

.preview {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 2;
}

.slds-form-element__label {
  line-height: 22px;
}

lightning-helptext {
  margin-left: 8px;
}

.props-list {
  display: flex;
  flex-direction: row;
}
