canvas {
    max-width: 100%;
    padding: 0;
    margin: auto;
    max-height: -webkit-fill-available;
}

.canvasContainer {
    display: grid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.overlayCanvas {
    grid-column: 1;
    grid-row: 1;
}

.imgCanvas {
    grid-column: 1;
    grid-row: 1;
}

.button_group_item_dot {
    align-items: center;
    justify-items: center;
    display: grid;
}

.dot_button {
    display: grid;
}

.dot_button:focus, .dot_button:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
}

.dot {
    grid-column: 1;
    grid-row: 1;
    height: 1.5rem;
    margin: auto;
    aspect-ratio: 1 / 1;
    border: 1px #9FAAB5 solid;
    border-radius: 50%;
    display: inline-block;
}

.dot_selection_ring {
    grid-column: 1;
    grid-row: 1;
    height: 2.25rem;
    aspect-ratio: 1 / 1;
    margin: auto;
    border: 3px transparent solid;
}

.dot_selection_ring.is_selected {
    border: 3px #32BEF1 solid;
    border-radius: 50%;
}

.red {
    background-color: #EA001E;
}

.green {
    background-color: #45C65A;
}

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #000000;
}

.thickness_button_group > li {
    margin: 0 0.4rem 0 0.4rem;
}

.thickness_button > svg {
    width: 1.25rem;
    height: 1.25rem;
}

.thickness_button {
    color: #32BEF1;
}

.thickness_button.half {
    color: #32BEF180;
}

.thickness_button:disabled {
    color: #555555;
}

.thickness_button:focus, .thickness_button:hover, .thickness_button:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent;
}

.pencil_icon {
    margin: auto;
}

.pencil_icon > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.page .section.content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    position: relative;
}

.page .section.footer {
    flex: 0 1 auto;
}

