canvas {
  max-width: 100%;
  padding: 0;
  margin: auto;
  max-height: -webkit-fill-available;
}

.mid-vertical-align {
  display: grid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.canvas-container {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.text-editor {
  position: fixed;
  grid-column: 1;
  grid-row: 1;
}

.text-editor-hidden {
  display: none;
}

.overlay-canvas {
  grid-column: 1;
  grid-row: 1;
}

.img-canvas {
  grid-column: 1;
  grid-row: 1;
}

.text-button-group > li {
  margin: 0 0.4rem 0 0.4rem;
}

.thickness-button-group > li {
  margin: 0 0.4rem 0 0.4rem;
}

.thickness-button > svg {
  width: 1.25rem;
  height: 1.25rem;
}

.thickness-button {
  color: #1b96ff;
}

.thickness-button.half {
  color: #1b96ff80;
}

.thickness-button:disabled {
  color: #555555;
}

.thickness-button:focus,
.thickness-button:hover,
.thickness-button:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent;
}

.pencil-icon {
  margin: auto;
}

.pencil-icon > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.bg-button {
  display: grid;
}

.bg-button .icon {
  grid-column: 1;
  grid-row: 1;
  height: 1.5rem;
  margin: auto;
  aspect-ratio: 1 / 1;
  color: #1b96ff;
}

.bg-button .icon:active {
  border: 0;
}

.bg-button.is-selected .icon {
  color: white;
}

.bg-button .icon-selection-ring {
  grid-column: 1;
  grid-row: 1;
  height: 2.25rem;
  aspect-ratio: 1 / 1;
  margin: auto;
  border: 3px transparent solid;
}

.bg-button.is-selected .icon-selection-ring {
  border: 3px #1b96ff solid;
  border-radius: 50%;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.page .section.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  position: relative;
}

.page .section.footer {
  flex: 0 1 auto;
}
