.buttons-container {
    background: white;
    display: flex;
    overflow-x: scroll;
    padding: 8px 16px;
    width: 100%;
}

.button {
    border: 2px #0D7FA8 solid;
    border-radius: 10px;
    padding: 8px 16px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 500;
    white-space: nowrap;
}

.filter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-right: 8px;
}

.active-button {
    color: white;
    background-color: #0D7FA8;
}

.inactive-button {
    background: white;
    color: #0D7FA8;
}

.active-button .icon {
    --sds-c-icon-color-foreground-default: white;
    margin-left: 8px;
}

.inactive-button .icon {
    --sds-c-icon-color-foreground-default: #0D7FA8;
    margin-left: 8px;
}

.button-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button-text-title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
}

.button-text-main {
    font-size: 16px;
    line-height: 22px;
}

/* bottom sheets */

.bottom-sheet {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 100vh;
    padding-bottom: 50px;
    max-height: 85vh;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.shadow {
    box-shadow: 0px -1px 4px rgb(0 0 0 / 35%);
}

.grabber {
    display: flex;
    justify-content: center;
    height: 8px;
}

.sheet-title-and-buttons {
    display: flex;
    justify-content: space-between;
}

.back {
    background: none;
    border: none;
    cursor: none;
    width: 48px;
    padding: 0;
}

.x {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    width: 48px;
}

.x-icon {
    --sds-c-icon-color-foreground-default: #0D7FA8;
    padding: 0 13px;
}

.sheet-content {
    display: flex;
    flex-direction: column;
    margin: 16px;
    overflow-y: scroll;
}

.sheet-footer {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.filters-sheet-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    height: 48px;
    text-align: center;
}

.field-combo-container {
    position: relative;
}

.field-combo-cover {
    position: absolute;
    top: 0;
}

.field-input-container {
    margin-top: 16px;
}

.boolean-input-frame {
    border: 1px solid #d4d4d4;
    border-radius: 12px;
    padding: 12px;
}

.filters-sheet-show-results, .filters-sheet-clear {
    height: 48px;
    font-size: 16px;
    line-height: 22px;
}

.filters-sheet-show-results:enabled {
    background: #0D7FA8;
    color: white;
    border: none;
}

.filters-sheet-show-results[disabled], .filters-sheet-show-results:disabled {
    background: #EEEEEE;
    color: #9FAAB5;
    border: none;
}

.filters-sheet-clear:enabled {
    background: white;
    color: #0D7FA8;
    border: 2px #0D7FA8 solid;
}

.filters-sheet-clear[disabled], .filters-sheet-clear:disabled {
    background: white;
    color: #9FAAB5;
    border: 2px #E4E4E8 solid;
}

/* animations top-bottom */

.pt-page-moveToTop {
	-webkit-animation: moveToTop .4s ease both;
	animation: moveToTop .4s ease both;
}

.pt-page-moveFromTop {
	-webkit-animation: moveFromTop .4s ease both;
	animation: moveFromTop .4s ease both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}