.modal-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(43,40,38,0.6);
    display: flex;

}
.modal-container{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}