{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}