.signature_pad_flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.signature_pad_canvas {
    flex-grow: 1;
    min-height: 0px;
    min-width: 0px;
    border: 2px solid #878787;
}