.page-header {
  display: flex;
}
.landing-container {
  background-color: #e5e5e5;
}

.landing-section {
  margin-bottom: 10px;
}

.test {
  background-color: blue;
  height: 300px;
}

.spinner {
  position: relative;
  display: inline-block;
  text-align: center;
}
.slds-spinner {
  position: fixed;
}
.slds-spinner_container {
  position: fixed;
}
