.header-icon {
  margin-right: 12px;
}

.comboBox {
  margin-top: 25px;
  width: 346px;
  margin-left: 24px;
}

.comboBoxBackGround {
  background-color: #ffffff;
}

.pageTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #181818;
  margin-top: 16px;
}

.pageDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  color: #444444;
  margin-left: 24px;
  margin-top: 8px;
}

.lightningCardMain {
  padding: 0px;
  margin: 0px;
  padding-top: 0px;
  --slds-c-card-header-spacing-block-end: 0px;
  --slds-c-card-header-spacing-block-start: 0px;
  /* Removes SF Card body padding/margin top/bottom only */
  --slds-c-card-body-spacing-block-start: 0px;
  --slds-c-card-body-spacing-block-end: 0px;
}

.lightningTabMain {
  padding-left: 0px;
  --slds-c-card-header-spacing-block-end: 0px;
  --slds-c-card-header-spacing-block-start: 0px;
  /* Removes SF Card body padding/margin top/bottom only */
  --slds-c-card-body-spacing-block-start: 0px;
  --slds-c-card-body-spacing-block-end: 0px;
  padding-bottom: 0px;
}

.footerLayout {
  height: 56px;
  background-color: #f3f3f3;
  padding-right: 100px;
  margin-top: 24px;
  margin-bottom: 0px;
}

.saveButton {
  margin-top: 11px;
}

.assignmentPermissionLayout {
  margin-top: 10px;
  margin-left: 24px;
}

.permissionText {
  margin-top: 25px;
  margin-left: 24px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  color: #181818;
}

.permissionSubText {
  margin-top: 8px;
  margin-left: 24px;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.mobileWorkerText {
  margin-top: 25px;
  margin-left: 24px;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.horizonUnitsInputField {
  margin-top: 25px;
  margin-left: 24px;
  width: 346px;
}

.horizonInputField {
  width: 100%;
}

.daysText {
  margin-top: 30px;
  margin-left: 7px;
}

.modal {
  /* Enable scroll if needed */
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 1.2s;
}

/* Modal Content */

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
  border-radius: 16px 16px 0px 0px !important;
}
