.find-nearby-main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.page {
  position: absolute;
  width: 100%;
}

.filters-container {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.map-container {
  display: inline-block;
  height: calc(85% + 70px);
  padding: 0;
  margin: 0;
}

.locations-list-container {
  z-index: 2;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
