.mainDiv {
  height: 500px;
  width: 300px;
  /* margin-top: 50px; */
  /* margin-left: 30px; */
  position: relative;
  border-radius: 2%;
}

.newAppointmentTitleLayout {
  background-color: #f3f3f3;
}

.deleteIcon {
  padding-top: 12px;
  margin-left: 15px;
  width: 10px;
  height: 10px;
}

.previewText {
  padding-top: 5px;
  /* margin-left: 20px; */
  padding-bottom: 5px;
  background-color: #f3f3f3;
}

.screenTitleLayout {
  margin-top: 15px;
  height: 54px;
}

.screenTitle1 {
  padding-top: 5px;
  margin-left: 15px;
  color: black;
}

.screenTitle2 {
  padding-top: 1px;
  margin-left: 15px;
  color: black;
}

.previewFieldLayout {
  margin-left: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.previewFieldOuterLayout {
  overflow-x: hidden;
  overflow-y: auto;
  height: 350px;
}

.inputFieldPreview {
  width: 200px;
}

.screenFooterDivElement {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.editIcon {
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 2%;
  /* padding-top: 4px; */
}

.lgc-bg {
  background-color: white;
}

.editButton {
  /* margin-top: 15px; */
  margin-right: 0px;
}

.leftrightDivLayout {
  margin-top: 8px;
  margin-left: 20px;
}

.rightShiftButton {
  margin-left: 5px;
}

.footerLayout {
  height: 48px;
  background-color: #f3f3f3;
  padding-right: 60px;
  margin-top: 50px;
}

.addStepBtn {
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.saveButton {
  margin-top: 10px;
}

.comboBox {
  margin-right: 15px;
}

.fieldTitle {
  margin-top: 15px;
}

.searchInputField {
  width: 150px;
}
