lightning-card {
  width: 100%;
}

.card-details {
  width: 100%;
  border: 1px solid #c9c9c9;
  border-radius: 0.25rem;
  margin-bottom: 16px;
}

.details-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.number {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #d8e6fe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.number p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

lightning-button-menu {
  background: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.details-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details-section {
  margin-bottom: 16px;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 8px;
}

.details-section p {
  font-size: 13px;
  line-height: 20px;
}

.preview {
  width: 370px;
}

lightning-helptext {
  margin-left: 8px;
}
