.container{
    background-color: white;
    padding: 16px;
}
.title{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px;
    color: rgba(68, 68, 68, 1);
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(159, 170, 181, 0.5);
    padding-bottom: 16px;
}

.info{
    font-size: 14px;
    line-height: 18px;
    color: rgba(68, 68, 68, 1);
    border: 1px solid rgba(159, 170, 181, 0.5);
    border-radius: 12px;
    padding: 16px;
}

.info-emph{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 1);
}

.info-date{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 1);
}

.appointment-number{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #444444;
}

