.layout-container {
    display: flex;
    flex-direction: column;
}

.layout-comp {
    flex: 1;
}

.not-last {
    margin-right: 38px;
}

.layout-text {
    flex: 1;
}

.layout-img {
    flex: 3;
}

.card-layout-container {
    display: flex;
}

.layout-radio-container {
    display: flex;
    flex-direction: row;
}

.layout-radio {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.sub-filters-container {
    display: flex;
    flex-direction: column;
}

lightning-helptext {
    margin-left: 8px;
}

h1 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 16px;
}

h2 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: #444444;
    margin-bottom: 16px;
}

p {
    font-size: 13px;
    line-height: 20px;
    color: #444444;
    margin-bottom: 16px;
}

.bold-p {
    font-weight: 700;
}

.card-data-title {
    margin-bottom: 0;
}

.card-props {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.card-props lightning-input,
.card-props lightning-combobox {
    width: 100%;
}

.card-props lightning-input {
    margin-right: 16px;
}

.obj-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F3F3F3;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    padding: 12px;
}

.condition-combobox, c-basic-filter {
    margin-bottom: 12px;
}

.condition { 
    display: flex;
    flex-direction: row;
}

.logic-text {
    width: 64px;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 12px;
    margin-right: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

c-basic-filter {
    flex-grow: 1;
}

.custom-logic-input {
    margin: 12px 0;
}

c-dashboard-add-button {
    margin-top: 12px;
}

lightning-button-icon {
    background-color: white;
    align-self: end;
    margin-bottom: 12px;
}

lightning-modal-footer lightning-button {
    margin-left: 12px;
}

.dragged {
    border: 1px solid #032D60;
    transition: 0.01s;
    transform: translateX(-9999px);
}