.main-container{
    padding: 16px;
}

.modal-container{
    width:100%;
    min-height:320px;
    background: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.spinner-container{
    position: inherit;
}

.confirmBtn {
    width: 100%;
    left: 50%;
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    height: 50px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #0D7FA8;
    font-weight: 500;
}

.confirmBtn:active {
    opacity: 25%;
}

.confirmBtn:hover {
    opacity: 25%;
}

.confirmBtn:focus{
    opacity: 25%;
}

.acceptNewAptTitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.acceptNewAptClose{
    margin-top: 2px;
    cursor: pointer;
}
.modal {
    position: fixed;
    top: auto;
    bottom: 0px;
    left: 0px;
}

svg[class*="slds-button__icon_left"]{
    padding-bottom: 2px !important;
}

.modal-footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    border-radius: 0px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    height: 80px;
}

.modal-title-container{
    border-bottom: 1px solid rgba(159, 170, 181, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    height: 48px;
    padding: 16px;
}

.info{
    font-size: 16px;
    line-height: 22px;
    color: rgba(68, 68, 68, 1);
    border: 1px solid rgba(159, 170, 181, 0.5);
    border-radius: 12px;
    padding: 16px;
    margin: 16px;
}

.info-emph{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 1);
}

.info-date{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 1);
}

.secondary-title{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #444444;
}

.scheduling-results-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 0;
}

.scheduling-results-title{
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.scheduling-results-info{
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
}

.schedule-results-header-icon-container{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.schedule-results-header-icon-title{
    margin-left: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.hide{
    visibility: hidden;
}

.top-space{
    margin-top: 16px;
}

.button:active{
    opacity: 25%;
}