.page-header{
    display: flex;
}
.landing-container{
    background-color: rgba(238, 238, 238, 1);
}

.landing-section{
    margin-bottom: 10px;
}

.test{
    background-color: blue;
    height: 300px;
}

.spinner-container{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}
