.header {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.38px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.timeslotButton {
  width: 100%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  height: 48px;
  font-size: 16px;
  border-radius: 12px;
  border-color: #0d7fa8;
  font-weight: 500;
  color: #0d7fa8;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 8px 0;
}

.timeslotButton:active {
  opacity: 25%;
}
.timeslotButton:hover {
  opacity: 25%;
}
.timeslotButton:focus {
  opacity: 25%;
}

.time-slot-btn-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  gap: 16px;
}
.noSlotLabel {
  height: 18px;
  color: #706e6b;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: -0.36px;
}
.headerBold {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.38px;
}
.slots-container {
  background-color: white;
  padding: 0 16px 16px 16px;
}
.page-title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.38px;
  margin-top: 10px;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.separator {
  height: 1px;
  background-color: rgba(159, 170, 181, 0.5);
  margin: 0 -16px;
}

.section {
  background-color: rgba(238, 238, 238, 1);
  height: 10px;
  margin: 16px -16px 0 -16px;
}

.active-slot {
  opacity: 25%;
}

.grey-action-icon {
  margin-bottom: 16px;
  --sds-c-icon-color-background: #eeeeee;
}

.empty-slots-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;
  margin-top: 10px;
}

.empty-slos-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.empty-slos-body {
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  text-align: center;
}
