.mainContainer {
    margin-top: 60px;
    background: #FFFFFF;
}
.mainTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #181818;
    margin-top: -3px;
}
.stepsTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
}
.headerDiv {
    position: fixed;
    top: 0;
    left: 0;
    border-top: 1px solid #e1e1e1;
    padding: 16px;
    height: 66px;
    width: 100%;
    background: linear-gradient(0deg, #F3F3F3, #F3F3F3),
    linear-gradient(0deg, #F3F3F3, #F3F3F3);
    z-index: 100;
}
.backButton {
    height: 35px;
    display: flex;
    width: 34px;
    align-items: center;
    margin-left: 0;
    justify-items: center;
}
.customPageDiv {
    padding: 16px 11px 86px 11px;
}
.nextButton {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: #0176d3;
    --slds-c-button-brand-color-background-hover: #0176d3;
}
.nextButtonDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e1e1e1;
    padding: 16px;
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 98;
}
.empty-slots-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 16px;
    margin-top: 10px;
}
.endPageMainTitle {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.endPageSecondTitle {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 250px;
    text-align: center;
}
/* CSS Overrides */
.spinner{
    position: relative;
    display: inline-block;
    text-align: center;
}
.slds-spinner {
    position: fixed;
}
.slds-spinner_container {
    position: fixed;
}
.slds-faux-input,
.slds-input, 
.slds-select_container .slds-select, 
.slds-textarea {
    border: 2px solid #C9C9C9;
    border-radius: 12px;
}
